

.navbar-header {
	position: relative;
}


.carousel {
	position: absolute;
	width: 640px; 
	height: 360px;
	margin-left: 250px;
}

.carousel-indicators {
	top: 400px;
}

.carousel-control{
	height: 432px;
}

.jumbotron {

	margin-top: 30px;
	margin-bottom: 0px;
}

.modal-body .form-control {
	margin-bottom: 10px;
	position: relative;
}
