<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-wa_grid-20140929064819;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-wa_grid-20140929064819.mdf"
      providerName="System.Data.SqlClient" />-->
    <add name="WAPHConnectionString" connectionString="Data Source=ING_ALM03;Initial Catalog=WAPH;User ID=waph;Password=waph!admin" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="User" value="CPSUser" />
    <add key="Admin" value="CPSAdmin" />
    <add key="Domain" value="192.168.200.254" />
    <add key="path" value="LDAP://192.168.200.254/CN=Ingellicom,OU=SBSUsers,OU=Users,OU=MyBusiness,DC=cgfhins,DC=local" />
    <!--<add key="CommisionSummary" value="http://producers:1666/CPS/Reports/CommisionSummary.rdl" />
    <add key="CommissionStatement" value="http://producers:1666/CPS/Reports/CommissionStatement.rdl" />
    <add key="CustomerWithoutCommission" value="http://producers:1666/CPS/Reports/CustomerWithoutCommission.rdl" />
    <add key="GroupNotDesposit" value="http://producers:1666/CPS/Reports/GroupNotDesposit.rdl" />-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <pages>
        <controls>
          <!--<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
          <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        </controls>
      </pages>
    </system.web>
   <system.net>
     <mailSettings>
       <smtp> <!-- deliveryMethod="Network" from="grupogerenciaccg@gmail.com"-->
         <network enableSsl="true" defaultCredentials="false" host="smtp.gmail.com" port="587" userName="grupogerenciaccg@gmail.com" password="gerencia02" />
         </smtp>
     </mailSettings>
   </system.net>
</configuration>
