<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="WAPHConnectionString" connectionString="Data Source=10.0.41.51;Initial Catalog=WAPH;User ID=waph;Password=waph!admin" providerName="System.Data.SqlClient"/>
    <!-- no tocar  para usar su linea copiarla, borrr la que no esta comentada y reemplazarla por la correspondiente a su pc -->
    <!--CABAN-->
    <!--<add name="WAPHConnectionString" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=WAPH;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>-->
    <!--MONSALVE-->
    <!--<add name="WAPHConnectionString" connectionString="Data Source=ING_ALM03;Initial Catalog=WAPH;User ID=waph;Password=waph!admin" providerName="System.Data.SqlClient"/>-->
    <!--SERVER DE PRUEBAS UNIVERSIDAD-->
    <!--<add name="WAPHConnectionString" connectionString="Data Source=SERVERG1\SQLEXPRESS;Initial Catalog=WAPH;User ID=waph;Password=waph!admin" providerName="System.Data.SqlClient"/>-->
    <!-- CHRISTOPHER-->
    <!--<add name="WAPHConnectionString" connectionString="Data Source=CHRIST-PC;Initial Catalog=WAPH;User ID=waph;Password=waph!admin" providerName="System.Data.SqlClient"/>-->
    <!-- EMANUEL-->
    <!--<add name="WAPHConnectionString" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=WAPH;Integrated Security=True;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>-->
    <!--STEPHANIE-->
    <!--<add name="WAPHConnectionString" connectionString="Data Source=(localdb)\Projects;Initial Catalog=WAPH;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="accesoevaluacion" value="http://10.0.41.51:8080/Evaluacion.aspx?"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="1"/>
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="grupogerenciaccg@gmail.com" password="gerencia02"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <!--<defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>-->
  </system.webServer>
</configuration>